.users-page {
  background-color: var(--main-color);
  overflow: hidden;
  background-color: var(--p-primary-color);
  color: var(--main-color);
}

.users-card-container {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 150px;
}

.users-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1460px;
  gap: 70px;
}

.users-list {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  color: #1D3939;
  font-weight: 800;
  font-size: 48px;
  color: var(--main-color);
}

.error-message {
  display: flex;
  font-weight: 800;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  margin-right: 890px;
  border-radius: 20px;
  height: 90px;
  width: 606px;
  margin-bottom: 1000px;
  background-color: #B15757;
  color: #FFFFFF;
}

.refresh-btn-wrapper {
  position: relative;
  width: 50%;
}

.refresh-btn {
  position: absolute;
  right: 850px;
  bottom: 120px;
  border: none;
  background-color: #D4A373;
  border-radius: 40px;
  box-shadow: 4px 4px 21px 0px #00000040;
  padding: 10px;
  cursor: pointer;
}