<header class="header">
  <div class="switch">
    @if (config.enableTheming) {
      <p-toggleswitch
        id="toggle-mode"
        [ngModel]="themeService.isDarkMode$ | async"
        (onChange)="toggleMode($event)"
      />
      <p-selectbutton
        id="switch-theme"
        [options]="this.themeService.themes"
        [ngModel]="themeService.theme$ | async"
        (onChange)="toggleTheme($event.value)"
        optionLabel="label"
        optionValue="value"
        aria-labelledby="basic">
        <ng-template pTemplate="item" let-theme>
          <span>{{ theme.key | translate }}</span>
        </ng-template>
      </p-selectbutton>
    }
  </div>
  <div class="super-header">
    <div class="container">
      <div class="header-logo">
        <img src="/images/mountain-logo.svg" alt="Mountain" />
        <span class="company-name">{{ "header.companyName" | translate }}</span>
      </div>
      <nav class="navigation fs-18 semi-bold">
        @for (navigation of navigations; track navigation.id) {
          @if (navigation.id === selectedNavigationId) {
            <a id="home-and-users" routerLink="users-page" routerLinkActive="active-link">
              {{ navigation.text | translate }}
            </a>
          } @else {
            <a
              id="home-and-users"
              routerLink=""
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              >{{ navigation.text | translate }}
            </a>
          }
        }
      </nav>
      <div class="consultation">
        <div class="redirect-btns">
          <button id="posts-page" class="posts-page-btn" routerLink="/posts">
            {{ "buttons.postsPage" | translate }}
          </button>
        </div>
        <button class="semi-bold fs-16 consultation-btn">{{ "buttons.consultation" | translate }}</button>
      </div>
    </div>
    <div class="logout">
      @if (authorizationStatus$ | async) {
        <p>{{ "header.authorization" | translate }}</p>
        <button id="logout" class="posts-page-btn" routerLink="/login" (click)="logout()">
          {{ "buttons.exit" | translate }}
        </button>
      }
      <div class="select-language">
        <p-select (onChange)="onLanguageChange($event.value)" appendTo="body" [options]="languages" placeholder="Select language"/>
      </div>
    </div>
  </div>
  <button
    (click)="switchWidget(currentWidget === 'date' ? 'counter' : 'date')"
    class="show-task-btn"
  >
    {{ (currentWidget === 'date' ? 'buttons.showClicker' : 'buttons.showDate') | translate }}
  </button>
  @if (currentWidget === 'date') {
    <div class="time-and-date">
      <span>{{ timer | date }}</span>
    </div>
    <span class="last-login">{{ "header.lastLogin" | translate: { date: (lastLogin | date) } }}</span>
  } @else {
    <div class="click-counter">
      <button (click)="increaseCounter()">+</button>
      <input [(ngModel)]="counter" class="counter-value" />
      <button [disabled]="counter === 0" (click)="reduceCounter()">-</button>
    </div>
  }
</header>