.users-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.users-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  color: var(--main-color);
}

.input-form-wrapper {
  display: flex;
  justify-content: space-between;
}

.input-form {
  width: 300px;
  background-color: var(--main-color);
  background-color: var(--p-primary-color);
}

.input-form-lat {
  width: 150px;
  margin-left: 203px;
  background-color: var(--main-color);
  background-color: var(--p-primary-color);
}

.input-form-lng {
  width: 150px;
  background-color: var(--main-color);
  background-color: var(--p-primary-color);
}

.submit-form {
  width: 100%;
  cursor: pointer;
  background-color: var(--main-color);
  background-color: var(--p-primary-color);
  color: var(--main-color);
}