<div class="users-form">
  <form [formGroup]="form">
    <div class="users-form-wrapper">
      <div class="input-form-wrapper">
        <label>Имя:</label>
        <input class="input-form" id="name" type="name" formControlName='name' >
      </div>
      <div class="input-form-wrapper">
        <label>Имя пользователя:</label>
        <input class="input-form" id="username" type="username" formControlName='username' >
      </div>
      <div class="input-form-wrapper">
        <label>Почта:</label>
        <input
          class="input-form"
          id="email"
          type="email"
          formControlName='email'
        >
      </div>
      <div class="input-form-wrapper">
        <label>Телефон:</label>
        <input class="input-form" id="phone" type="phone" formControlName='phone' >
      </div>
      <div class="input-form-wrapper">
        <label>Веб-сайт:</label>
        <input class="input-form" id="website" type="website" formControlName='website' value="Неизвестно">
      </div>
      <div formGroupName="address">
        <div class="input-form-wrapper">
          <label>Город:</label>
          <input class="input-form" id="city" type="city" formControlName='city' >
        </div>
        <div class="input-form-wrapper">
          <label>Улица:</label>
          <input class="input-form" id="street" type="street" formControlName='street' >
        </div>
        <div class="input-form-wrapper">
          <label>Офис:</label>
          <input class="input-form" id="suite" type="text" formControlName='suite' value="Неизвестно">
        </div>
        <div class="input-form-wrapper">
          <label>Индекс:</label>
          <input class="input-form" id="zipcode" type="zipcode" formControlName='zipcode' >
        </div>
        <div class="input-form-wrapper" formGroupName="geo">
          <label>Координаты:</label>
          <input class="input-form-lat" id="lat" type="lat" formControlName='lat' >
          <input class="input-form-lng" id="lng" type="lng" formControlName='lng' >
        </div>
      </div>
      <div formGroupName="company">
        <div class="input-form-wrapper">
          <label>Компания:</label>
          <input class="input-form" id="company-name" type="name" formControlName='name' >
        </div>
        <div class="input-form-wrapper">
          <label>Миссия:</label>
          <input
            class="input-form"
            id="catchPhrase"
            type="catchPhrase"
            formControlName='catchPhrase'
            value="Неизвестно"
          >
        </div>
        <div class="input-form-wrapper">
          <label>Специализация:</label>
          <input
            class="input-form"
            id="specialization"
            type="specialization"
            formControlName='bs'
            value="Неизвестно"
          >
        </div>
      </div>
    </div>
    <button class="submit-form" type="submit" (click)="onSubmit()">Отправить</button>
  </form>
</div>