<div class="post-details">
  <p>{{ "posts.postId" | translate }} {{ post.id }}</p>
  <p>{{ "posts.create.title" | translate }} {{ post.title }}</p>
  <p>{{ "posts.create.body" | translate }} {{ post.body }}</p>
  <p>{{ "posts.create.tags" | translate }} {{ post.tags }}</p>
  <p>{{ "posts.create.likes" | translate }} {{ post.reactions.likes }}</p>
  <p>{{ "posts.create.dislikes" | translate }} {{ post.reactions.dislikes }}</p>
  <p>{{ "posts.create.views" | translate }} {{ post.views }}</p>
  <p>{{ "posts.create.title" | translate }} {{ post.userId }}</p>
</div>
