.header {
  .super-header {
    color: var(--main-color);
    display: flex;
    justify-content: center;
    text-align: center;
    height: 72px;
    margin-top: 16px;
  }

  .header-logo {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 10px;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .company-name {
    margin-top: 9px;
  }

  .navigation {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-left: 212px;
  }

  .consultation {
    display: flex;
    align-items: center;
  }

  .consultation-btn {
    background-color: #1A3E3E;
    color: var(--main-color);
    width: 157px;
    height: 44px;
    border-radius: 4px;
  }
}

.main-info {
  .banner {
    background-image: url('/background-images/mountains.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 985px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }

  .main-title {
    color: var(--main-color);
    font-size: 50px;
    line-height: 150%;
    text-transform: uppercase;
    width: 1190px;
    height: 985px;
    align-items: center;
    display: flex;
    margin: 0 auto;
    margin-top: 130px;
  }
}

.search-tour {
  display: flex;
  justify-content: center;
  width: 1180px;
  height: 161px;
  position: absolute;
  bottom: 0;
  align-items: center;
  margin-bottom: 82px;
  border-radius: 10px;
  background: #FFFFFF33;
  backdrop-filter: blur(3px);

  .clarifying-details {
    display: flex;
    width: 1095px;
    height: 81px;
    font-size: 16px;
  }

  .fill-details-btns {
    &::placeholder {
      color: var(--main-color);
    }
    display: flex;
    width: 250px;
    height: 48px;
    border-radius: 8px;
    padding-left: 16px;
    border: none;
    background: transparent;
  }

  .find-program-btn {
    color: #1A3E3E;
    display: flex;
    font-weight: bold;
    line-height: 20px;
    border-radius: 4px;
    width: 213px;
    height: 52px;
    margin-left: 24px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .instruction-for-location {
    display: flex;
    font-size: 14px;
    text-transform: lowercase;
    align-items: center;
    margin-top: 8px;
    margin-left: 8px;
    font-weight: 100;
    line-height: 150%;
  }

  .instruction-for-date {
    display: flex;
    font-size: 14px;
    text-transform: lowercase;
    align-items: center;
    margin-top: 8px;
    margin-left: 33px;
    text-align: center;
    font-weight: 100;
    line-height: 150%;
  }

  .instruction-for-participants {
    display: flex;
    font-size: 14px;
    text-transform: lowercase;
    align-items: center;
    margin-top: 8px;
    margin-left: 33px;
    font-weight: 100;
    line-height: 150%;
  }

  .select-location-on-tour {
    display: flex;
    border: 1px solid #E1E3E4;
    border-radius: 8px;
    width: 268px;
  }

  .selection-icon {
    display: flex;
    background: transparent;
    border: none;
    height: 22px;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
    padding-left: 16px;
  }

  .select-participants {
    display: flex;
    border: 1px solid #E1E3E4;
    border-radius: 8px;
    width: 268px;
    margin-left: 24px;
  }

  .select-date {
    display: flex;
    border: 1px solid #E1E3E4;
    border-radius: 8px;
    width: 268px;
    margin-left: 24px;
  }
}

