.main-info {
  position: relative;
  height: 985px;
  width: 100%;
  margin-top: -176px;

  .banner {
    background-image: url('/background-images/mountains.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }

  .main-title {
    color: var(--main-color);
    font-size: 50px;
    line-height: 150%;
    text-transform: uppercase;
    width: 1190px;
    height: 985px;
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding-top: 130px;
  }

  .title {
    margin-top: 180px;
  }

  .live-input-container {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-220%);
    width: 270px;
    height: 52px;
    z-index: 5;
  }

  .live-input {
    display: flex;
    border: 1px solid #E1E3E4;
    border-radius: 8px;
    width: 270px;
    height: 50px;
    background: transparent;
    padding-left: 16px;
    cursor: pointer;
    padding-right: 50px;
    box-sizing: border-box;
  }

  .live-input::placeholder {
    color: var(--main-color);
  }

  .live-input-show {
    position: absolute;
    margin-left: 330px;
    margin-top: 16px;
  }

  .arrow-icon {
    display: flex;
    position: absolute;
    margin: 15px 235px;
    transform: rotate(270deg);
  }
}

.search-tour {
  display: flex;
  justify-content: center;
  width: 1180px;
  height: 161px;
  position: absolute;
  bottom: 0;
  align-items: center;
  margin-bottom: 82px;
  border-radius: 10px;
  background: #ffffff33;
  backdrop-filter: blur(3px);

  .clarifying-details {
    display: flex;
    width: 1095px;
    height: 81px;
    font-size: 16px;
  }

  .fill-details-btns {
    &::placeholder {
      color: var(--main-color);
    }
    display: flex;
    width: 250px;
    height: 48px;
    border-radius: 8px;
    padding-left: 16px;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .find-program-btn {
    background-color: var(--fourth-colors);
    color: var(--main-color);
    display: flex;
    font-weight: bold;
    line-height: 20px;
    border-radius: 4px;
    width: 213px;
    height: 52px;
    margin-left: 24px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
  }

  .find-program-btn:disabled {
    background-color: transparent;
    border: none;
    color: transparent;
  }

  .instruction-for-location {
    display: flex;
    font-size: 14px;
    text-transform: lowercase;
    align-items: center;
    margin-top: 8px;
    margin-left: 8px;
    font-weight: 100;
    line-height: 150%;
  }

  .instruction-for-date {
    display: flex;
    font-size: 14px;
    text-transform: lowercase;
    align-items: center;
    margin-top: 8px;
    margin-left: 33px;
    text-align: center;
    font-weight: 100;
    line-height: 150%;
  }

  .instruction-for-participants {
    display: flex;
    font-size: 14px;
    text-transform: lowercase;
    align-items: center;
    margin-top: 8px;
    margin-left: 33px;
    font-weight: 100;
    line-height: 150%;
  }

  .select-location-on-tour {
    display: flex;
    border: 1px solid #E1E3E4;
    border-radius: 8px;
    width: 268px;
  }

  .selection-wrapper {
    position: absolute;
    display: flex;
    top: 1;
    left: 1;
    opacity: 0;
    background: transparent;
    border: none;
    width: 20px;
    cursor: pointer;
  }

  .select-date-icon {
    position: absolute;
    display: flex;
    top: 1;
    left: 1;
    width: 140px;
    opacity: 0;
    background: transparent;
    border: none;
    margin-right: 100px;
    cursor: pointer;
  }

  .selection-icon-wrapper {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .selection-icon {
    display: flex;
    background: transparent;
    border: none;
    height: 22px;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
    padding-left: 16px;
    cursor: pointer;
  }

  .select-participants {
    display: flex;
    border: 1px solid #E1E3E4;
    border-radius: 8px;
    width: 268px;
    margin-left: 24px;
  }

  .select-date {
    display: flex;
    border: 1px solid #E1E3E4;
    border-radius: 8px;
    width: 268px;
    margin-left: 24px;
  }
}

.hike-section {
  height: 726px;
  .hike-info {
    height: 526px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }

  .first-promo-location {
    display: flex;
  }

  .second-promo-location {
    display: flex;
    position: absolute;
    margin-right: 570px;
    margin-top: 255px;
  }

  .hike-info-description {
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    padding-top: 104px;
  }

  .hike-preface {
    color: var(--additional-color);
    margin-bottom: -25px;
  }

  .hike-title {
    line-height: 120%;
  }

  .hike-description {
    line-height: 150%;
    margin-bottom: 40px;
  }

  .tour-program-btn {
    display: flex;
    width: 200px;
    height: 52px;
    background-color: var(--fourth-colors);
    color: var(--main-color);
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    line-height: 20px;
    letter-spacing: 1.2%;
    cursor: pointer;
  }
}

.hike-programs {
  height: 771px;
  background-color: var(--third-color);
  .conditions-wrapper {
    max-width: 580px;
    height: 591px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
  }

  .title-and-description {
    width: 580px;
  }

  .proposal {
    color: var(--additional-color);
  }

  .programs {
    line-height: 120%;
    margin-top: 8px;
  }

  .program-description {
    line-height: 150%;
  }

  .condition-list {
    display: block;
    margin-top: 40px;
  }

  .conditions {
    width: 580px;
    line-height: 20px;
    margin-left: 70px;
    margin-top: -75px;
    padding-bottom: 40px;
    transition: filter 0.3s ease;
  }

  .conditions:hover {
    filter: invert(1);
  }

  .program-cost-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    width: 236px;
    height: 52px;
    border-radius: 4px;
    background-color: var(--fourth-colors);
    color: var(--main-color);
    cursor: pointer;
  }

  .condition-title {
    margin-bottom: 4px;
  }

  .condition-description {
    display: flex;
    width: 514px;
  }

  .condition-icons {
    display: flex;
    margin: 0 auto;
    padding-top: 7px;
  }

  .condition-icon-bg {
    width: 50px;
    height: 50px;
    border-radius: 4px;
  }

  .photo-of-places {
    display: flex;
    flex-wrap: wrap;
    width: 510px;
    height: 510px;
    margin-left: 700px;
    margin-top: -500px;
    gap: 10px;
  }
}

.recreation-locations {
  height: 778px;
  .photos-recreation-locations {
    display: flex;
    gap: 20px;
  }

  .directions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    height: 66px;
  }

  .subtitle {
    margin-bottom: 8px;
    color: var(--additional-color);
  }

  .direction-header {
    margin-top: 0px;
  }

  .popular-places {
    color: var(--main-color);
    display: block;
    position: absolute;
    top: 82%;
    left: 10%;
    background: #FFFFFF33;
    backdrop-filter: blur(3px);
    border-radius: 0 0 32px 32px;
    width: 380px;
    z-index: 1;
    height: 90px;
    margin: -38px;
    margin-top: -0px;
    padding: 1px 32px;
  }

  .popular-places-image {
    display: flex;
    position: relative;
  }

  .popular-places-price {
    display: block;
    position: absolute;
    text-align: center;
    padding-top: 10px;
    margin: -41px 50px;
    width: 86px;
    height: 40px;
    top: 73%;
    left: 57%;
    color: var(--main-color);
    background: #FFFFFF4D;
    border-radius: 4px;
  }

  .place-title {
    padding-top: 20px;
    margin: 0;
  }

  .place-description {
    letter-spacing: 0%;
  }

  .place-assessment-wrapper {
    display: flex;
    position: absolute;
    top: 10%;
    left: 83%;
    background: #FDFDFD66;
    backdrop-filter: blur(4px);
    width: 65px;
    height: 32px;
    border-radius: 4px 0px 0px 4px;
  }

  .assessment-icon {
    position: absolute;
    top: 15%;
    left: 6px;
  }

  .place-assessment {
    margin: 0 auto;
    padding: 10px 35px;
  }

  .direction-rating-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    line-height: 20px;
    width: 236px;
    height: 52px;
    border-radius: 4px;
    background-color: var(--fourth-colors);
    color: var(--main-color);
    cursor: pointer;
  }
}

.travel-blog-wrapper {
  height: 1036px;
  background-color: var(--third-color);
  .travel-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 85px;
    margin-bottom: 40px;
    height: 66px;
  }

  .travel-blog-subtitle {
    margin-bottom: 8px;
    color: var(--additional-color);
  }

  .travel-blog-header {
    margin-top: 0px;
  }

  .travel-article-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 40px;
  }

  .travel-article {
    display: flex;
    justify-content: center;
    width: 580px;
    height: 312px;
    box-shadow: 0px 0px 15px 0px #18121E1F;
    border-radius: 10px;
    background-color: #F3F5F4;
  }

  .article-images {
    display: flex;
    padding: 16px;
  }

  .description-articles {
    width: 294px;
    height: 280px;
    padding-left: 4px;
  }

  .article-description {
    display: flex;
    height: 116px;
    line-height: 20px;
  }

  .article-details {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  .article-date {
    display: flex;
    flex-wrap: nowrap;
    color: var(--additional-color);
    padding-top: 14px;
  }

  .article-link {
    display: flex;
    color: var(--fourth-colors);
    flex-wrap: nowrap;
  }

  .third-article {
    display: flex;
    position: relative;
    bottom: 11%;
  }

  .four-article {
    display: flex;
    position: relative;
    bottom: -9%;
  }

  .article-info {
    padding-top: 16px;
  }

  .other-articles-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    line-height: 20px;
    width: 236px;
    height: 52px;
    border-radius: 4px;
    background-color: var(--fourth-colors);
    color: var(--main-color);
    cursor: pointer;
  }

  .active-article {
    text-decoration: underline;
    color: var(--fourth-colors);
  }
}

.notification-service-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  gap: 15px;
  padding: 15px;
}

.notification-service {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 70px;
  border-radius: 10px;
  background: #0F172AD9;
  color: var(--main-color);
  z-index: 15;
}

.service-close-btn {
  display: flex;
  flex-direction: column;
  background: transparent;
  position: absolute;
  margin-left: 320px;
  padding: 10px 10px 0px 0px;
  border: none;
  cursor: pointer;
}

.service-content-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.service-content {
  display: flex;
  flex-direction: column;
  padding: 15px 0px 15px 70px;
  position: absolute;
  gap: 5px;
}

.service-icon {
  display: flex;
  width: 40px;
  margin: 15px;
}

.photo-report-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-report-subtitle {
  color: var(--additional-color);
  margin-bottom: 0px;
  margin-top: 85px;
}

.photo-report-title {
  margin-top: 8px;
  margin-bottom: 40px;
}

.photo-report-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.our-pinterest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 20px;
  width: 178px;
  height: 52px;
  border-radius: 4px;
  background-color: var(--fourth-colors);
  color: var(--main-color);
  cursor: pointer;
  margin-bottom: 198px;
}