<div animatedGradient class="users-card">
  <div>
    <h2 class="fs-26 extra-bold user-name">{{ (user.name | uppercase) | translate }}</h2>
    <p class="fs-15 bold user-tag">{{ user.username }}</p>
  </div>
  <div>
    <p class="fs-12 extra-bold contacts-wrapper">{{ "usersPage.userCard.contacts" | translate }}</p>
    <div class="contacts">
      <span class="fs-14 grey">{{ "usersPage.fields.email" | translate }}</span>
      <span class="fs-14 bold email">{{ user.email }}</span>
    </div>
    <div class="phone">
      <span class="fs-14 grey">{{ "usersPage.fields.phone" | translate }}</span>
      <span class="fs-14 bold">{{ user.phone.toString() | phone: phoneMode.MASKED }}</span>
    </div>
    <div class="website-wrapper">
      <span class="fs-14 grey">{{ "usersPage.fields.website" | translate }}</span>
      <span class="fs-14 bold website">{{ user.website || 'Неизвестно' }}</span>
    </div>
    <p class="fs-12 extra-bold residental-address-wrapper">{{ "usersPage.userCard.address" | translate }}</p>
    <div class="city">
      <span class="fs-14 grey">{{ "usersPage.fields.city" | translate }}</span>
      <span class="fs-14 bold">{{ user.address.city }}</span>
    </div>
    <div class="street">
      <span class="fs-14 grey">{{ "usersPage.fields.street" | translate }}</span>
      <span class="fs-14 bold">{{ user.address.street }}</span>
    </div>
    <div class="suite">
      <span class="fs-14 grey">{{ "usersPage.fields.suite" | translate }}</span>
      <span class="fs-14 bold">{{ user.address.suite || 'Неизвестно' }}</span>
    </div>
    <div class="zipcode">
      <span class="fs-14 grey">{{ "usersPage.fields.zipcode" | translate }}</span>
      <span class="fs-14 bold">{{ user.address.zipcode }}</span>
    </div>
    <div class="coordinates">
      <span class="fs-14 grey">{{ "usersPage.fields.coordinates" | translate }}</span>
      <span class="fs-12 bold">{{ user.address.geo.lat }} {{ user.address.geo.lng }}</span>
    </div>
    <p class="fs-12 extra-bold work-place-wrapper">{{ "usersPage.userCard.workplace" | translate }}</p>
    <div class="company-name">
      <span class="fs-14 grey">{{ "usersPage.fields.company" | translate }}</span>
      <span class="fs-14 bold">{{ user.company.name }}</span>
    </div>
    <div class="catchPhrase-wrapper">
      <span class="fs-14 grey">{{ "usersPage.fields.mission" | translate }}</span>
      <span class="fs-14 bold catchPhrase">{{ user.company.catchPhrase || 'Неизвестно' }}</span>
    </div>
    <div class="specialization">
      <span class="fs-14 grey">{{ "usersPage.fields.specialization" | translate }}</span>
      <span class="fs-14 bold">{{ user.company.bs || 'Неизвестно' }}</span>
    </div>
  </div>
  <button hover (click)="deleteUser()" class="delete-user-btn">{{ "usersPage.deleteButton" | translate }}</button>
</div>
