<div class="createPost">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>{{ "posts.create.title" | translate }}</label>
    <input id="title" type="text" formControlName="title" />
    <label>{{ "posts.create.tags" | translate }}</label>
    <input id="tags" type="text" formControlName="tags" />
    <label>{{ "posts.create.views" | translate }}</label>
    <input id="views" type="number" formControlName="views" />
    <label>{{ "posts.create.body" | translate }}</label>
    <input id="body" type="text" formControlName="body" />
    <div formGroupName="reactions">
      <label>{{ "posts.create.likes" | translate }}</label>
      <input id="likes" type="number" formControlName="likes" />
      <label>{{ "posts.create.dislikes" | translate }}</label>
      <input id="dislikes" type="number" formControlName="dislikes" />
    </div>
    <label>{{ "posts.create.userId" | translate }}</label>
    <input id="userId" type="number" formControlName="userId" />
    <button type="submit">{{ "posts.create.send" | translate }}</button>
  </form>
</div>