@font-face {
  font-family: 'Nunito Sans'; /* A name you choose to refer to this font */
  src: url('./fonts/nunito-sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: 100 900; /* Specify the weight of this specific file */
  font-style: normal; /* Specify the style of this specific file */
}

@font-face {
  font-family: 'Nunito Sans'; /* A name you choose to refer to this font */
  src: url('./fonts/nunito-sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: 100 900; /* Specify the weight of this specific file */
  font-style: normal; /* Specify the style of this specific file */
}