@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito Sans';
  box-sizing: border-box;
}

.container {
  display: block;
  width: 1180px;
  margin: 0 auto;
}

:root {
  --main-color: #fff;
  --secondary-color: #000;
  --additional-color: #F2BE22;
  --fourth-colors: #1A3E3E;
  --third-color: #F3F5F4;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-12 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-32 {
  font-size: 32px;
}

.fw-300 {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.extra-bold {
  font-weight: 800;
}

.grey {
  color: #667C7C;
}

.scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

html.my-app-dark {
  --main-color: #121212;
  --secondary-color: #000;
  --third-color: #1e1e1e;
  --fourth-color: #2a2a2a;
  --glass-bg: rgba(0, 0, 0, 0.5);
}